<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GhostAppear-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>GhostAppear-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{13,2},{12,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,20}}</string>
			<key>sourceSize</key>
			<string>{12,20}</string>
		</dict>
		<key>GhostAppear-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,2},{14,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,31}}</string>
			<key>sourceSize</key>
			<string>{14,31}</string>
		</dict>
		<key>GhostAppear-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,2},{20,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,32}}</string>
			<key>sourceSize</key>
			<string>{20,32}</string>
		</dict>
		<key>GhostAppear-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,2},{22,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,35}}</string>
			<key>sourceSize</key>
			<string>{22,35}</string>
		</dict>
		<key>GhostAttack-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,2},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,34}}</string>
			<key>sourceSize</key>
			<string>{36,34}</string>
		</dict>
		<key>GhostAttack-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,2},{35,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,42}}</string>
			<key>sourceSize</key>
			<string>{35,42}</string>
		</dict>
		<key>GhostAttack-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,2},{35,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,43}}</string>
			<key>sourceSize</key>
			<string>{35,43}</string>
		</dict>
		<key>GhostAttack-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,2},{33,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,44}}</string>
			<key>sourceSize</key>
			<string>{33,44}</string>
		</dict>
		<key>GhostAttack-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,2},{33,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,44}}</string>
			<key>sourceSize</key>
			<string>{33,44}</string>
		</dict>
		<key>GhostAttack-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,2},{30,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,44}}</string>
			<key>sourceSize</key>
			<string>{30,44}</string>
		</dict>
		<key>GhostFly-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,2},{32,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,34}}</string>
			<key>sourceSize</key>
			<string>{32,34}</string>
		</dict>
		<key>GhostFly-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,2},{34,31}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,31}}</string>
			<key>sourceSize</key>
			<string>{34,31}</string>
		</dict>
		<key>GhostFly-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,2},{36,32}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,32}}</string>
			<key>sourceSize</key>
			<string>{36,32}</string>
		</dict>
		<key>GhostFly-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,2},{34,36}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,36}}</string>
			<key>sourceSize</key>
			<string>{34,36}</string>
		</dict>
		<key>GhostIdle-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,2},{41,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,33}}</string>
			<key>sourceSize</key>
			<string>{41,33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Ghost1.png</string>
		<key>size</key>
		<string>{490,48}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:866b66e34267ef19e5e13f85b2dd8397:339181d9bb34dfc68cfea8d486b793bc:5aa7004ab06924c5459870c029baa4f6$</string>
		<key>textureFileName</key>
		<string>Ghost1.png</string>
	</dict>
</dict>
</plist>
