<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OwnerSizeAdjustment</key>
	<array>
		<string>1.2</string>
		<string>0.6</string>
	</array>
	<key>Damage</key>
	<integer>50</integer>
	<key>Knockback</key>
	<integer>8000</integer>
	<key>Stun</key>
	<integer>120</integer>
	<key>IASA</key>
	<integer>25</integer>
	<key>Element</key>
	<string>physical</string>
	<key>AttackSoundName</key>
	<string>SwordWhoosh</string>
	<key>TotalPossibleSounds</key>
	<integer>4</integer>
	<key>AnimationFramesCount</key>
	<integer>4</integer>
	<key>AnimationSpriteName</key>
	<string>ninjaDashAttack</string>
	<key>TotalFrames</key>
	<integer>35</integer>
	<key>HitBoxTransformations</key>
	<dict>
		<key>8</key>
		<array>
			<array>
				<integer>12</integer>
				<integer>-6</integer>
			</array>
			<array>
				<integer>30</integer>
				<integer>22</integer>
			</array>
		</array>
		<key>9</key>
		<array>
			<array>
				<integer>25</integer>
				<integer>-15</integer>
			</array>
			<array>
				<integer>40</integer>
				<integer>20</integer>
			</array>
		</array>
		<key>14</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<key>SpecialProperties</key>
	<dict>
		<key>NoMove</key>
		<string>NoMove</string>
		<key>ZeroHorizontalVelocity</key>
		<string>ZeroHorizontalVelocity</string>
	</dict>
</dict>
</plist>
