<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpecialProperties</key>
	<dict>
		<key>HorizontalImpulse</key>
		<integer>2500</integer>
		<key>NoMove</key>
		<string>NoMove</string>
	</dict>
	<key>HitBoxTransformations</key>
	<dict>
		<key>8</key>
		<array>
			<array>
				<integer>-8</integer>
				<integer>15</integer>
			</array>
			<array>
				<integer>38</integer>
				<integer>30</integer>
			</array>
		</array>
		<key>10</key>
		<array>
			<array>
				<integer>11</integer>
				<integer>-36</integer>
			</array>
			<array>
				<integer>40</integer>
				<integer>60</integer>
			</array>
		</array>
		<key>12</key>
		<array>
			<array>
				<integer>16</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>21</integer>
				<integer>18</integer>
			</array>
		</array>
		<key>18</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<key>OwnerSizeAdjustment</key>
	<array>
		<string>1</string>
		<string>0.6</string>
	</array>
	<key>TotalFrames</key>
	<integer>58</integer>
	<key>AnimationSpriteName</key>
	<string>ninjaDashAttack2</string>
	<key>AnimationFramesCount</key>
	<integer>6</integer>
	<key>TotalPossibleSounds</key>
	<integer>1</integer>
	<key>AttackSoundName</key>
	<string>slice</string>
	<key>Element</key>
	<string>physical</string>
	<key>IASA</key>
	<integer>34</integer>
	<key>Stun</key>
	<integer>30</integer>
	<key>Knockback</key>
	<integer>300</integer>
	<key>Damage</key>
	<integer>8</integer>
</dict>
</plist>
