<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Damage</key>
	<integer>6</integer>
	<key>Knockback</key>
	<integer>15</integer>
	<key>Stun</key>
	<integer>3</integer>
	<key>IASA</key>
	<integer>12</integer>
	<key>Element</key>
	<string>physical</string>
	<key>AttackSoundName</key>
	<string>SwordWhoosh</string>
	<key>TotalPossibleSounds</key>
	<integer>4</integer>
	<key>AnimationFramesCount</key>
	<integer>4</integer>
	<key>AnimationSpriteName</key>
	<string>ninjaGroundAttack2</string>
	<key>TotalFrames</key>
	<integer>32</integer>
	<key>HitBoxTransformations</key>
	<dict>
		<key>8</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>50</integer>
				<integer>18</integer>
			</array>
		</array>
		<key>12</key>
		<array>
			<array>
				<integer>-6</integer>
				<integer>5</integer>
			</array>
			<array>
				<integer>43</integer>
				<integer>10</integer>
			</array>
		</array>
		<key>18</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<key>SpecialProperties</key>
	<dict/>
</dict>
</plist>
